@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-heartbeat {
    animation: heartbeat 1.5s ease infinite;
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
